.context {
  pointer-events: none;
  width: 100%;
  height: 100% !important;
  position: absolute;
  background-size: auto 100%;
}

.context h1 {
  text-align: center;
  color: #fff;
  font-size: 50px;
}

.area {
  width: 100%;

  height: 100% !important;

  background-size: auto 100%;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 8rem;
  height: 8rem;

  /* background: rgba(92, 83, 91, 0.2); */
  /* background-image: url('file:///Users/dhairya/Downloads/html-5-svgrepo-com(2).svg'); */
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  background-image: url('/Users/dhairya/Downloads/portfolio/Portfolio_Storm_z/public/html-5-svgrepo-com(2).svg');


}

.circles li:nth-child(2) {
  left: 10%;
  width: 80px;
  height: 80px;
  animation-delay: 2s;
  animation-duration: 12s;
  background-image: url('/Users/dhairya/Downloads/portfolio/Portfolio_Storm_z/public/css-3-svgrepo-com.svg');

}

.circles li:nth-child(3) {
  left: 70%;
  width: 80px;
  height: 80px;
  animation-delay: 4s;
  background-image: url('/Users/dhairya/Downloads/portfolio/Portfolio_Storm_z/public/react-svgrepo-com.svg');

}

.circles li:nth-child(4) {
  left: 40%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
  animation-duration: 18s;
  background-image: url('/Users/dhairya/Downloads/portfolio/Portfolio_Storm_z/public/graphql-svgrepo-com.svg');

}

.circles li:nth-child(5) {
  left: 65%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
  background-image: url('/Users/dhairya/Downloads/portfolio/Portfolio_Storm_z/public/javascript-svgrepo-com.svg');

}

.circles li:nth-child(6) {
  left: 75%;
  width: 80px;
  height: 80px;
  animation-delay: 3s;
  background-image: url('/Users/dhairya/Downloads/portfolio/Portfolio_Storm_z/public/mongodb-svgrepo-com.svg');

}

.circles li:nth-child(7) {
  left: 35%;
  width: 80px;
  height: 80px;
  animation-delay: 7s;
  background-image: url('/Users/dhairya/Downloads/portfolio/Portfolio_Storm_z/public/stripe-svgrepo-com.svg');



}

.circles li:nth-child(8) {
  left: 50%;
  width: 80px;
  height: 80px;
  animation-delay: 15s;
  animation-duration: 45s;
  background-image: url('/Users/dhairya/Downloads/portfolio/Portfolio_Storm_z/public/postman-icon-svgrepo-com.svg');


}

.circles li:nth-child(9) {
  left: 20%;
  width: 80px;
  height: 80px;
  animation-delay: 2s;
  animation-duration: 35s;
  background-image: url('/Users/dhairya/Downloads/portfolio/Portfolio_Storm_z/public/android-icon-svgrepo-com.svg');


}

.circles li:nth-child(10) {
  left: 85%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
  animation-duration: 11s;
  background-image: url('/Users/dhairya/Downloads/portfolio/Portfolio_Storm_z/public/github-color-svgrepo-com.svg');


}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.highlighted-word {
  text-decoration: none;
  background-position-y: -0%;
  background-image: linear-gradient(transparent 50%, #a37fb3 50%);
  transition: background 500ms ease;
  background-size: 2px;
  background-size: auto 175%;
}

.highlighted-word:hover {
  background-position-y: 100%;
}

.mail {
  color: inherit;
  text-decoration: none;
  border-bottom: 3px solid gold;
}
.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 4.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
.img-avatar{

  background-image: url('file:///Users/dhairya/Downloads/portfolio/Portfolio_Storm_z/public/AvatarMaker.png');
}

